<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460645181759-3r095d3t69i6ej4ooh28jrq5hohm9hh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460645181759-3r095d3t69i6ej4ooh28jrq5hohm9hh0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>460645181759-td69e1qc0ninrn4g361pois9hpadvpi4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQmjxCn1kAfwvAvNMkphGqBhSGCf9cmeM</string>
	<key>GCM_SENDER_ID</key>
	<string>460645181759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nature120.app</string>
	<key>PROJECT_ID</key>
	<string>nature-120-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>nature-120-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460645181759:ios:62dd9d06263acaaf2e4b8a</string>
</dict>
</plist>